.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
  margin: 0px;
  padding:50px;
}
.layout{

  text-align: left;
}
.form{
  text-align: left;
}





.App-link {
  color: #61dafb;
}

